
#heading{
    color: white;
    text-align: center;
    padding-top: 15%;
}
#button{
    color: rgb(3, 3, 43);
}
.bottomtxt{
    padding: 40px;
    font-size: small;
    color: white;
    position: relative;
}

.login-page{
    width: 390px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
   
    position: relative;
    z-index: 1;
    background-color: rgb(3, 3, 43);
    max-width: 390px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: rgb(3, 3, 43);
    color: white;
    width: 100%;
    border: 1;
    border-color: white;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    margin-top: 30px;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
}
.form button:hover,.form button:active{
    background: rgb(206, 203, 30);
}
,form .bottomtxt{
    margin: 15px 0 0;
    color: white;
    font-size: 12px;

}

.form .registration-form{
    display: none;
    
}